<h1>商品一覧</h1>

<table>
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
      <% @items = Item.all %>
      <% @items.each do |item| %>
      <% a = item.genre_id %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item) %></td>
        <td><%= (item.price).to_s(:delimited) %></td>
        <td><%= @genre[(item.genre_id) -1] %></td>
        <td><% if item.is_active == true then %>
              <%= "販売中" %>
            <% else %>
              <%= "販売停止中" %>
            <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>