<div class="container">
  <div class="row mb-3">
    <div class="col-10"><h4 class="d-inline" style="background-color: #dcdcdc">　注文情報確認　</h4></div>
  </div>

<div class="row">
<table class="table table-bordered col-7 mr-5">
    <thead class="thead-light">
      <tr>
        <th>商品名</th>
        <th width="140">単価(税込)</th>
        <th width="150">数量</th>
        <th width="140">小計</th>
      </tr>
    </thead>
    <tbody>
      <% sum = 0 %>
      <% @cart_items.each do |cart_item| %>
        <% if cart_item.customer_id == current_customer.id then %>
          <tr>
            <td><%= attachment_image_tag cart_item.item, :image, :fill, 50, 50, fallback: "no_image.jpg" %>
                <%= cart_item.item.name %></td>
            <td class="align-middle"><%= ((cart_item.item.price * 1.1).floor).to_s(:delimited) %></td>
            <td class="align-middle"><%= cart_item.amount %></td>
            <td class="align-middle"><%= ((cart_item.item.price * 1.1).floor * cart_item.amount).to_s(:delimited) %></td>
          </tr>
          <% sum_total = ((cart_item.item.price * 1.1).floor * cart_item.amount) %>
          <% sum += sum_total %>
        <% end %>
      <% end %>
    </tbody>
  </table>

<%= form_with model: @order, url: orders_path, local:true do |f| %>

  <table class="table table-bordered">
    <thead class="thead-light">
      <tr><th width="120">送料</th><td width="120"><%= @order.shipping_cost = 800 %></td></tr>
      <tr><th>商品合計</th><td><%= sum.to_s(:delimited) %></td></tr>
      <tr><th>請求金額</th><td><% @order.total_payment = (@order.shipping_cost + sum) %><%= (@order.total_payment).to_s(:delimited) %></td></tr>
    </thead>
  </table>
  </div>

  <div class="row">
  <table class="table table-borderless col-4">
    <thead>
      <tr>
        <th width="110">
          <strong style="font-size: 18px">支払方法</strong>
        </th>
        <td class="align-middle">
          <%= @order.payment_method %>
        </td>
      </tr>
      <tr>
        <th class="align-top">
          <strong style="font-size: 18px">お届け先</strong>
        </th>
        <td>
          <div class="align-middle"><%= "〒" + @order.postal_code + " " + @order.address %></div>
          <%= @order.name %>
        </td>
      </tr>
    </thead>
  </table>
  </div>


  <%= hidden_field_tag :customer_id, current_customer.id %>
  <%= hidden_field_tag :postal_code, @order.postal_code %>
  <%= hidden_field_tag :address, @order.address %>
  <%= hidden_field_tag :name, @order.name %>
  <%= hidden_field_tag :payment_method, @order.payment_method %>
  <%= hidden_field_tag :shipping_cost, @order.shipping_cost %>
  <%= hidden_field_tag :total_payment, @order.total_payment %>

  <div class="text-center"><%= f.submit "　注文を確定する　", class: 'btn btn-success' %></div>

<% end %>

</div>