<div class="container">
  <div class="row">
<h1>商品一覧</h1><div class="d-flex align-items-center" style="font-size: 22px">(全<%= Item.count %>件)</div>
</div>
<br>

<div class="row">
<% @items.each do |item| %>
  <div class="col-md-3 mb-5">
    <%= link_to item_path(item) do %>
  <p><%= attachment_image_tag item, :image, :fill, 200, 150, fallback: "no_image.jpg" %></p>
  <p><%= item.name %></p>
  ￥<%= (item.price).to_s(:delimited) %><br>
  <% end %>
  </div>
<% end %>
</div>
<div class="row">
  <div class="col-5"></div>
<div class="col-4"><%= paginate @items %></div>
</div>
</div>