<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-4">
      <%= attachment_image_tag @item, :image, :fill, 350, 200, fallback: "no_image.jpg" %><br>
    </div>
    <div class="col-6">
      <h4><%= @item.name %></h4>
      <p><%= @item.introduction %></p>
      <br>
      <br>
      <br>
      <div class="row"><h4>￥ <%= ((@item.price * 1.1).floor).to_s(:delimited) %></h4><div class="d-flex align-items-center" style="font-size: 15px">(税込)</div></div><br>
      <%= form_with(model: [@order_detail,@cart_item], local: true) do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <div class="row">
          <% if customer_signed_in? then %>
        <div class="col-3"><%= f.select :amount, {'1':1, '2':2, '3':3, '4':4, '5':5, '6':6, '7':7, '8':8, '9':9, '10':10}, { include_blank: '個数選択'} %></div>
        <button class="btn btn-success col-3" type="submit">カートに入れる</button>
          <% end %>
        </div>

  <% end %>
  </div>
  </div>

</div>